// Base styles //
a {
    text-decoration: none;
    color: $text-color;
}

// Phone portrait
@media only screen and (max-width: 320px) {
    body {
        max-width: 300px;
    }
}

// Phone landscape
@media only screen and (min-width: 321px) and (max-width: 480px) {
    body {
        max-width: 880px;
    }
}

// Desktop
@media only screen and (min-width: 1024px) {
    body {
        background-size: cover;
    }
}

body{
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -200px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    padding-bottom: 0;
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}


// Masthead //

.masthead {
    position: relative;
    background: $masthead-background;
    background-size: 100%; 
    background-repeat: no-repeat;
    img {
        display: inline;
        margin-bottom: 0em;
    }
}

.site-title {
    font-family: $site-title-font;
    font-size: $site-title-size;
    color: $site-title-color;
    text-decoration: none;
    background-color: none;
    padding: .1em;
}

// Navigation //

.site-nav {
    width: 100%;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: $site-nav-background-color;
    }

    li {
        display: inline;
    }

    a {
        text-decoration: none;
        font-size: $site-nav-font-size;
        color: $site-nav-font-color;
        padding: 8px;
    }
}

// Body //

.page-content {
    font-family: $page-content-font;
    font-weight: $page-content-font-weight;
    padding: 2em;

    .center {
        text-align: center;
    }
}

.home-content {
    font-family: $home-content-font;
    font-size: $home-content-font-size;
    line-height: 50px;
}

// Footer //

.push{
    height: 200px;
    display: block;
}

.site-footer {
    width: 100%;
    height: 200px;
    margin-left: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    color: $footer-text-color;
    background-color: $footer-background-color;
    li {
        display: inline;
    }
}

