/* === Screen Sizes === */

$break-portrait: 320px;
$break-landscape: 321px; 
$break-tablet-portrait: 768px;
$break-large: 900px;

/* === Typography === */
@import
url(https://fonts.googleapis.com/css?family=Gentium+Book+Basic|Philosopher);

$doc-font-size              : 16;
$site-title-font            : Philosopher, sans serif;
$site-title-size            : 80px;
$site-nav-font-size         : 24px;
$home-content-font          : Gentium Book Basic, serif;
$home-content-font-size     : 40px;
$page-content-font          : $home-content-font;
$page-content-font-weight   : normal;

/* === Colors === */
$gray                       : #7a8288;
$dark-gray                  : mix(#000, $gray, 40%);
$darker-gray                : mix(#000, $gray, 60%);
$light-gray                 : mix(#fff, $gray, 50%);
$lighter-gray               : mix(#fff, $gray, 90%);

$logo                  : url("../assets/images/logo.gif");
$site-title-color           : #020126;
$site-nav-font-color        : $site-title-color;
$site-nav-background-color  : #dddddd;
$masthead-background        : $gray; /*url("../assets/images/bbfield.jpg");*/
$nursery-background         : url("../assets/images/seedlings.jpg");
$music-background           : url("../assets/images/fiddle.jpg");
$goats-background           : url("../assets/images/kid.jpg");
$body-color                 : #fff;
$background-color           : #fff;
$code-background-color      : #fafafa;
$code-background-color-dark : $light-gray;
$text-color                 : $dark-gray;
$border-color               : $lighter-gray;
$footer-background-color    : $site-nav-background-color;
$footer-text-color          : $text-color;

